{
  "presets": ["stage-0"],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "add-module-exports"
  ],
  "env": {
    "test": {
      "presets": ["es2015-node6"],
      "plugins": [
        "istanbul"
      ]
    },
    "node4": {
      "presets": ["es2015-node4"],
    },
    "node6": {
      "presets": ["es2015-node6"],
    }
  }
}
